deb http://ppa.launchpad.net/chris-lea/node.js/ubuntu {{ ansible_distribution_release | lower }} main
deb-src http://ppa.launchpad.net/chris-lea/node.js/ubuntu {{ ansible_distribution_release | lower }} main
